<p id="notice" class="text-center"><%= notice %></p>

<h1>Authors</h1><hr>
<div class="d-flex justify-content-between">
    <%= link_to 'New Author', new_author_path, :class => "btn btn-primary btn-sm"%>
    <div>
    <%= form_tag(authors_path, :method => "get", class: 'form-inline my-2 my-lg-0') do %>
          <%= text_field_tag :toSearch, params[:toSearch], placeholder: "Search authors", class: 'form-control mr-sm2', type: "search" %>
          <%= submit_tag "Search", :name => nil, class: 'btn btn-outline-primary my-2 my-sm-0 ml-2' %>
      <% end %>
    </div>
  </div>

  <div>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th align="center"><%= sortable "fistname", "Firstname" %></th>
        <th align="center"><%= sortable "lastname", "Lastname" %></th>
        <th align="center"><%= sortable "nationality", "Nationality" %></th>
        <th align="center"><%= sortable "date_of_birth", "Date of birth" %></th>
        <th colspan="3">Options</th>
      </tr>
    </thead>

    <tbody>
      <% @authors.each do |author| %>
        <tr>
          <td align="center"><%= author.firstname %></td>
          <td align="center"><%= author.lastname %></td>
          <td align="center"><%= author.nationality %></td>
          <td align="center"><%= author.date_of_birth %></td>
          <td align="center"><%= link_to 'Details', author, :class => "btn btn-info btn-sm" %></td>
          <td align="center"><%= link_to 'Edit', edit_author_path(author), :class => "btn btn-info btn-sm" %></td>
          <td align="center"><%= link_to 'Delete', author, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-sm" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<br>
<%= will_paginate @authors,list_classes: %w(pagination justify-content-center) %>
