<!DOCTYPE html>
<html>
  <head>
    <title>Library</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
	    <div class="container">
        <a class="navbar-brand" href="#">Library</a>

        <div class="collapse navbar-collapse">

            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <%= link_to "Books", books_path, :class => "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Authors", authors_path, :class => "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Genres", genres_path, :class => "nav-link" %>
              </li>
            </ul>
          </div>
	    </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-sm">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
  <hr />
  <footer>
    <p style="text-align: center;">&copy; 2018<br> <a href="https://github.com/sakovski" title="Author">Seweryn Rutkowski</a> & <a href="https://github.com/ronek22" title="Author">Jakub Ronkiewicz</a></p>
</footer>
</html>
